<% layout('layouts/layout') -%>

<!-- FISCALNOTERS: ALL USERS TABLE -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      Home
    </div>
  </div>
</div>
<!-- ALL USERS TABLE -->
