<% layout('layouts/layout') -%>

<!-- USER: Single User Information -->
<div class="container hidden" id="user-container">
  <div class="row" id="user-row">
    <div class="col-12-xs col-sm-4 col-md-3" id="user-col-left">
      <!-- Insert content here -->
    </div>
    <div class="col-12-xs col-sm-8 col-md-9" id="user-col-right">
      <div class="row">
        <div class="col-10-xs col-sm-11" id="user-col-right-name">
        </div>
        <div class="col-2-xs col-sm-1" id="user-col-right-back">
          <button class="btn btn-info pull-right">Back</button>
        </div>
      </div>
      <!-- Insert content here -->
    </div>
  </div>
</div>
